ion-item {
  overflow: auto;
}
.icon-btn {
  float: right;
}

.name-label {
  font-size: medium;
}

ion-badge {
  float: left;
  margin-left: 10px;
  margin-bottom: 5px;
}

.student-input {
  display: flex;
  flex-direction: column;

  ion-button {
    ion-icon {
      width: 100%;
      height: 100%;
    }
  }
}