<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><h1 id="title">Students</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong class="capitalize">Student List:</strong>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let student of students">
              <ion-label>
                {{student.name}}
                <ion-badge color="primary">{{getStudentGroupsCount(student.id)}}</ion-badge>
              </ion-label>
              <ion-icon name="trash-outline" class="icon-btn" color="danger" size="small"
              (click)="deleteStudent(student)"></ion-icon>
            </ion-item>
          </ion-list>
          <form>
            <ion-item>
              <ion-label>New Student</ion-label>
              <ion-input placeholder="John Doe" #nameInput></ion-input>
              <ion-icon name="add-circle-outline" color="success" slot="end"
              (click)="addStudent()"></ion-icon>
            </ion-item>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
