<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><h1 id="title">Students</h1></ion-title>
    <ion-buttons slot="end">
      <ion-item color="translucent">
        <ion-icon name="ellipsis-vertical-outline" (click)="toggleActionSheet()"></ion-icon>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong class="capitalize">Student List:</strong>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-card>
              <ion-card-header>
                <ion-label>New Student</ion-label>
              </ion-card-header>
              <ion-card-content class="student-input">
                <ion-input placeholder="John" fill="outline" [(ngModel)]="firstName"></ion-input>
                <ion-input placeholder="Doh" fill="outline" [(ngModel)]="lastName"></ion-input>
                <ion-button (click)="addStudent()">
                  <ion-icon name="add-circle-outline" color="white" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card *ngFor="let student of students">
              <ion-card-header>
                <ion-card-title>
                  <ion-label class="name-label">{{ student.displayName }}</ion-label>
                  <ion-icon
                    name="trash-outline"
                    class="icon-btn"
                    color="danger"
                    (click)="deleteStudent(student)"
                    style="font-size: large"
                  ></ion-icon>
                </ion-card-title>
              </ion-card-header>
              <ion-card-subtitle>
                <ion-badge color="primary">{{ getStudentGroupsCount(student.id) }}</ion-badge>
                <ion-badge color="success"
                  >{{ getStudentTrainingCount(student.id, 1, true) | number: '1.0-2' }}%</ion-badge
                >
                <ion-badge color="warning"
                  >{{ getStudentTrainingCount(student.id, 0, true) | number: '1.0-2' }}%</ion-badge
                >
                <ion-badge color="danger"
                  >{{ getStudentTrainingCount(student.id, -1, true) | number: '1.0-2' }}%</ion-badge
                >
              </ion-card-subtitle>
            </ion-card>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
